{{define "title"}}
个人介绍 —— 我的技术博客
{{end}}

{{define "main"}}
<div class="col-md-9 blog-main">

<div class="blog-post bg-white p-5 rounded shadow mb-4">

  <hr>
  此博客是用以记录编程笔记,如你有反馈或建议,请联系
  <a href="mailto:evanxian9@gmail.com">evanxian9@gmail.com</a>

</div><!-- /.blog-post -->


</div><!-- /.blog-main -->
{{end}}